.ml-auto {
  margin-left: auto !important;
}
.pl-10 {
  padding-left: 10px;
}
.mt-80 {
  margin-top: 5rem;
}
.container {
  display: flex;
}
.class-list-wrapper {
  min-width: 650px;
  margin: auto;
  text-align: center;
}
.m-auto {
  margin: auto;
}
